attrs==21.2.0
charset_normalizer==3.4.3
ConfigParser==7.2.0
cryptography==3.4.8
Cython==3.2.9
docutils==0.17.1
filelock==3.32.0
helper_functions==2.0.11
HTMLParser==0.0.2
hypothesis==6.163.0
ipython==8.12.3
ipywidgets==8.1.8
jnius==1.1.0
keyring==23.5.0
kneed==0.8.6
matplotlib==3.11.1
mtrand==0.1
mypy==2.3.0
numarray==1.5.1
Numeric==24.2
pandas==3.0.5
pickle5==0.0.12
protobuf==7.35.1
psutil==7.2.2
PyInstaller==6.21.0
pyOpenSSL==21.0.0
pyOpenSSL==26.3.0
pytest==9.1.1
pytz==2025.1
pytz==2022.1
PyYAML==5.4.1
PyYAML==6.0.3
redis==8.0.1
scikit_learn==1.9.0
scipy==1.18.0
scipy_doctest==2.2.0
setuptools==59.6.0
Sphinx==9.1.0
thread==2.0.6
threadpoolctl==3.6.0
typing_extensions==4.16.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
